.cartList {
  width: 100%;
}

.stallName {
  font-size: 20px !important;
}

.bottom {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
  box-sizing: content-box;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid black;
  background: #fff;
}
