.appBar {
  display: flex;
  justify-content: space-between;
  position: fixed !important;
}

.grow {
  flex-grow: 1;
}

.pageContainer {
  // height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 calc(10vh + 80px) 0;
}

#shoppingCart {
  left: 15px;
}

.list {
  width: 220px;

  @media all and (max-width: 700px) {
    width: 80vw;
  }
}